<style>
    /*通用分页*/
    .pagination {
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: .25rem;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border-color: #dee2e6;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .page-item:last-child .page-link {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
</style>
{% if paginator.numPages > 1 %}
    <ul class="pagination">
        {% if paginator.prevUrl %}
            <li class="page-item"><a href="{{ paginator.prevUrl }}" class="page-link">上一页</a></li>
        {% endif %}
        {% for page in paginator.pages %}
            {% if page.url %}
                <li class="page-item {{ page.isCurrent ? 'active' : '' }}"><a href="{{ page.url }}"
                                                                              class="page-link">{{ page.num }}</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">{{ page.num }}</span></li>
            {% endif %}
        {% endfor %}
        {% if paginator.nextUrl %}
            <li class="page-item"><a href="{{ paginator.nextUrl }}" class="page-link">下一页</a></li>
        {% endif %}
    </ul>
{% endif %}