{% if paginator.numPages > 1 %}
    <link rel="stylesheet" href="/assets/css/pager.css">
    <ul class="pagination">
        {% if paginator.prevUrl %}
            <li class="page-item"><a href="{{ paginator.prevUrl }}" class="page-link">上一页</a></li>
        {% endif %}
        {% for page in paginator.pages %}
            {% if page.url %}
                <li class="page-item {{ page.isCurrent ? 'active' : '' }}"><a href="{{ page.url }}"
                                                                              class="page-link">{{ page.num }}</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">{{ page.num }}</span></li>
            {% endif %}
        {% endfor %}
        {% if paginator.nextUrl %}
            <li class="page-item"><a href="{{ paginator.nextUrl }}" class="page-link">下一页</a></li>
        {% endif %}
    </ul>
{% endif %}